<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-20">
    <div class="col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row margin-top-10">
                    <div class="col-xs-12">
                        <h3>Upload sample</h3>
                    </div>
                    <div class="col-xs-12">
                        <label class="bold">Event title</label>
                        <input type="text" class="form-control" ng-model="vm.event.title">
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <label class="bold">Event description</label>
                        <textarea class="form-control" ng-model="vm.event.description" rows="5"></textarea>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <div class="no-content1 link bold" ngf-max-size="'5MB'" ngf-select ng-model="vm.eventAttachments" ngf-multiple="true"><i class="fa fa-paperclip"></i> Select attachments</div>
                        <div class="margin-top-10" ng-if="vm.eventAttachments && vm.eventAttachments.length > 0">
                            <h4>Selected files</h4><br />
                            <ul class="tags">
                                <li ng-repeat="file in vm.eventAttachments" class="tag red"><a ng-click="vm.removeAttachment(file.name)"><i class="icon-close"></i></a> {{file.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-top-10">
                        <button class="btn btn-primary" ng-click="vm.saveEvent()">Save event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-xs-12">
        <h3>Dashboard</h3>
    </div>
</div>
<div class="row margin-top-20">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="im im-icon-Check-2"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="1349">1349</span>
                </div>
                <div class="desc"> Events completed </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="im im-icon-Taxi"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="210">970</span>
                </div>
                <div class="desc"> Trips made to the provinces/sites </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="im im-icon-Target"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="549">2549</span>
                </div>
                <div class="desc"> Program priorities focused </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="im im-icon-Business-ManWoman"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">1870</span>
                </div>
                <div class="desc"> Entities received assistance </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark uppercase">PORTLET #0</span>
                    <!--<span class="caption-helper">weekly stats...</span>-->
                </div>
                <!--<div class="actions">-->
                    <!--<button class="btn dark btn-outline btn-circle btn-sm">Filter range</button>-->
                <!--</div>-->
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark uppercase">PORTLET #1</span>
                    <!--<span class="caption-helper">weekly stats...</span>-->
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark uppercase">PORTLET #2</span>
                    <!--<span class="caption-helper">weekly stats...</span>-->
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark uppercase">PORTLET #3</span>
                    <!--<span class="caption-helper">weekly stats...</span>-->
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->